<div class="chat-window">
  <!--<button class="leave" (click)="leave(room)">leave</button>-->
  <div class="chat-window__header">
    <span class="chat-window__room-name">
      {{room.name}}
    </span>
    <!--<h2>Created: {{room.created}}</h2>-->
  </div>


  <div class="chat-window__messages" #scroll>
    <wom-messages-list [messages]="messages"></wom-messages-list>
  </div>

  <div class="chat-window__footer">
    <div class="chat-window__send-form">
      <input class="chat-window__message-input" #focus [(ngModel)]="message" placeholder="Send to {{room.name}}" (keypress)="eventHandler($event)">
      <button class="chat-window__message-submit-button" (click)="send()">Send</button>
    </div>
  </div>
</div>